*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #fffcf8;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.homeContainer {
  width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.users {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  gap: 16px;
  justify-content: space-between;

  img {
    width: 100px;
    border-radius: 100px;
    margin-bottom: 7px;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  }

  svg {
    width: 20px;
  }

  .location {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.userInform {
  display: flex;
  flex-direction: column;
}

.seeProfile {
  background-color: #0074e8;
  color: #fff;
  padding: 9px 88px;
  border-radius: 10px;
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 15px;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.usersImportInfo {
  background-color: #f9f9f9;
  padding: 20px 55px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;

  strong {
    color: #a2a0a0;
    line-height: 10px;
  }
}

.usersDetail {
  max-width: 1000px;
  margin: 0 auto;
}

.backLink {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.usersDetailImportInfo {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 70px;
}

.usersDetailImportInfo img:first-child {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  border-end-start-radius: 0px;
}

.detailProfileImage {
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  top: 120px;
  left: 13%;
  transform: translateX(-50%);
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.userDetailTodo {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin: 10px 0;
  width: 100%;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.todosContainer {
  display: flex;
  gap: 30px;
}

.allTodos {
  width: 350px;
  background-color: #F9E9CC;
  padding: 30px;
  border-radius: 10px;
  box-shadow:  0px -2px 8px rgba(0, 0, 0, 0.1);

  h2 {
    color: #ee9b31;
    text-transform: uppercase;
  }
}

.completedTodos {
  width: 300px;
  background-color: #E4F0D0;
  padding: 30px;
  border-radius: 10px;
  box-shadow:  0px -2px 8px rgba(0, 0, 0, 0.1);

  h2 {
    color: #4d9e96;
    text-transform: uppercase;
  }
}

.incompleteTodos {
  width: 300px;
  background-color: #fcc6c5;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);

  h2 {
    color: #fa4a6e;
    text-transform: uppercase;
  }
}

.userDetailInfo {
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  color: #333;
  font-size: 16px;
  line-height: 1.6;

  h3 {
    font-size: 24px;
  }

  .username {
    color: #969696;
    font-size: 16px;
  }

  .email {
    font-size: 16px;
    color: #969696;
    font-weight: bold;
  }
}

.userDetailInfo strong {
  color: #495057;
  font-weight: bold;
}

.userDetailInfo p:last-child {
  margin-bottom: 0;
}
