*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f0f3fa;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.homeContainer {
  width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.users {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  gap: 16px;
  justify-content: space-between;

  img {
    width: 100px;
    border-radius: 100px;
    margin-bottom: 7px;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  }

  svg {
    width: 20px;
  }

  .location {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.userInform {
  display: flex;
  flex-direction: column;
}

.seeProfile {
  background-color: #0074e8;
  color: #fff;
  padding: 9px 88px;
  border-radius: 10px;
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 15px;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.usersImportInfo {
  background-color: #f9f9f9;
  padding: 20px 55px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;

  strong {
    color: #a2a0a0;
    line-height: 10px;
  }
}
